*{
  margin: 0;
  padding: 0;
}
html{
   height: 100%;
}
body{
   font-family: 'Open Sans', arial;
   background-color: #f9f9f9;
   height: 100%;
}
.wrapper{
   width: 1060px;
   margin: 0 auto;
   background-color: #fff;
   height: 100%;
}

/*     HEADER        */
a.logo{
   display: inline-block;
   width: 145px;
   height: 40px;
   margin: 50px 0 40px 46px;
}
ul.mainmenu{
   width: 966px;
   height: 40px;
   margin: 0 auto;
   background-color: #666;
}
li.mainmenu{
   list-style: none;
   width: 100px;
   height: 40px;
   margin-left: 24px;
   float: left;
}
li.mainmenu:hover{
   background-color: #333;
   border-left: 1px solid #999;
   border-right: 1px solid #999;
   margin-left: 22px;
}
a.mainmenu{
   display: block;
   font: 15px 'Open Sans';
   color: #fff;
   text-decoration: none;
   line-height: 40px;
   text-align: center;
}

/*    CONTAINER      */
.container{
   width: 966px;
   margin: 0 auto;
   padding-top: 40px;
}
ul.side{
   width: 240px;
   float: left;
}
li.side{
   list-style: none;
   height: 39px;
   border: 1px solid #ccc;
   margin-top: -1px;
}
li.side:hover{
   background-color: #f9f9f9;
   padding-left: 12px;
}
a.side{
   display: table-cell;
   vertical-align: middle;
   width: 214px;
   height: 40px;
   line-height: 40px;
   text-decoration: none;
   padding-left: 24px;
   font: 13px 'Open Sans';
   color: #666;
}
a.side:hover{
   color: #333;
}
.content{
   width: 679px;
   margin-left: 288px;
}
.img{
   height: 398px;
   line-height: 398px;
   text-align: center;
   border: 1px solid #ccc;
}
.img img{
   margin: auto;
   vertical-align: middle;
}
p.text{
   margin: 36px 25px 38px 24px;
   font: 13px 'Open Sans';
   color: #333;
}

/*    FOOTER         */
footer{
   width: 966px;
   height: 40px;
   margin: 0 auto;
   background-color: #ccc;
}
li.footer{
   list-style: none;
   width: 140px;
   height: 40px;
   float: left;
}

a.footermenu{
   display: block;
   font: 13px 'Open Sans';
   color: #333;
   text-decoration: none;
   line-height: 40px;
   padding: 0 24px;
}
a.footermenu:hover{
   text-decoration: underline;
}
p.copy{
   font: 13px 'Open Sans';
   color: #333;
   line-height: 40px;
   text-align: right;
   margin-right: 25px;
}
